* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 100%;
}

table th {
    padding: 15px 15px;
}

table td {
    padding: 10px 10px;
    border: 1px solid gray;
}

#headT {
    font-size: 1.4rem;
    text-align: center;
    background-color: blue;
    color: white;
}

#bodyT {
    text-align: center;
    font-size: 1.2rem;
}

#color{
    background: #DCDCDC;
}